
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- is page mein user search kar skta hai ya books library mein ja skta hai -->
<body>
    <form action="saveUser" method="post">
        <input name="username" type="text" placeholder="type your name here !">
        <input name="number" type="number">
        <button type="submit">submit</button>
    </form>
    
</body>
</html>